@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

#telefone {
    position: absolute;
    background-color: blue;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphone.png') no-repeat;
}

#tela {
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 269px;
}

#redes_sociais {
    text-align: right;
    display: flex;
    flex-direction: column;
} 

#redes_sociais img { /*nao se coloca o ">" pois a tag img não é diretamente filha da section "redes sociais"*/
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
    transition-duration: .5s;
    box-sizing: border-box; /*evitar que quando clique mexa em todos os outros*/
    
}

#redes_sociais img:hover {
    transform: scale(1.05);
    border: 1px solid white;
    transform: translate(-10px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}